/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Console.dll
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Console.pdb
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Console.xml
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.Formatters.Test.dll
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.Formatters.Test.pdb
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.Formatters.dll
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.Formatters.pdb
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.Formatters.xml
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.dll
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.pdb
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Portable.xml
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Windows.Formatters.dll
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Windows.Formatters.pdb
/DragonScale.Portable.Formatters.Test/bin/Debug/DragonScale.Windows.Formatters.xml
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Console.dll
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Console.pdb
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Console.xml
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.Formatters.Test.dll
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.Formatters.Test.pdb
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.Formatters.dll
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.Formatters.pdb
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.Formatters.xml
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.dll
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.pdb
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Portable.xml
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Windows.Formatters.dll
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Windows.Formatters.pdb
/DragonScale.Portable.Formatters.Test/bin/Release/DragonScale.Windows.Formatters.xml
/DragonScale.Portable.Formatters.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Portable.Formatters.Test/obj/Debug/DragonScale.Portable.Formatters.Test.csproj.FileListAbsolute.txt
/DragonScale.Portable.Formatters.Test/obj/Debug/DragonScale.Portable.Formatters.Test.csprojResolveAssemblyReference.cache
/DragonScale.Portable.Formatters.Test/obj/Debug/DragonScale.Portable.Formatters.Test.dll
/DragonScale.Portable.Formatters.Test/obj/Debug/DragonScale.Portable.Formatters.Test.pdb
/DragonScale.Portable.Formatters.Test/obj/Debug/ResolveAssemblyReference.cache
/DragonScale.Portable.Formatters.Test/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Portable.Formatters.Test/obj/Release/DragonScale.Portable.Formatters.Test.csproj.FileListAbsolute.txt
/DragonScale.Portable.Formatters.Test/obj/Release/DragonScale.Portable.Formatters.Test.csprojResolveAssemblyReference.cache
/DragonScale.Portable.Formatters.Test/obj/Release/DragonScale.Portable.Formatters.Test.dll
/DragonScale.Portable.Formatters.Test/obj/Release/DragonScale.Portable.Formatters.Test.pdb
/DragonScale.Portable.Formatters.Test/obj/Release/build.force
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.Formatters.XML
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.Formatters.dll
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.Formatters.pdb
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.dll
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.pdb
/DragonScale.Portable.Formatters/bin/Debug/DragonScale.Portable.xml
/DragonScale.Portable.Formatters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Portable.Formatters/obj/Debug/DragonScale.Portable.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Portable.Formatters/obj/Debug/DragonScale.Portable.Formatters.dll
/DragonScale.Portable.Formatters/obj/Debug/DragonScale.Portable.Formatters.pdb
/DragonScale.Portable.Formatters/obj/Debug/ResolveAssemblyReference.cache
/DragonScale.Portable.Formatters/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Portable.Formatters/obj/Release/DragonScale.Portable.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Portable.Formatters/obj/Release/DragonScale.Portable.Formatters.dll
/DragonScale.Portable.Formatters/obj/Release/DragonScale.Portable.Formatters.pdb
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.Formatters.dll
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.Formatters.pdb
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.Formatters.xml
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.dll
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.pdb
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Portable.xml
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Silverlight.Formatters.dll
/DragonScale.Silverlight.Formatters/Bin/Debug/DragonScale.Silverlight.Formatters.pdb
/DragonScale.Silverlight.Formatters/Bin/Release/DragonScale.Silverlight.Formatters.dll
/DragonScale.Silverlight.Formatters/Bin/Release/DragonScale.Silverlight.Formatters.pdb
/DragonScale.Silverlight.Formatters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Silverlight.Formatters/obj/Debug/DragonScale.Silverlight.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Silverlight.Formatters/obj/Debug/DragonScale.Silverlight.Formatters.csprojResolveAssemblyReference.cache
/DragonScale.Silverlight.Formatters/obj/Debug/DragonScale.Silverlight.Formatters.dll
/DragonScale.Silverlight.Formatters/obj/Debug/DragonScale.Silverlight.Formatters.pdb
/DragonScale.Silverlight.Formatters/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DragonScale.Silverlight.Formatters/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DragonScale.Silverlight.Formatters/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Silverlight.Formatters/obj/Release/DragonScale.Silverlight.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Silverlight.Formatters/obj/Release/DragonScale.Silverlight.Formatters.csprojResolveAssemblyReference.cache
/DragonScale.Silverlight.Formatters/obj/Release/DragonScale.Silverlight.Formatters.dll
/DragonScale.Silverlight.Formatters/obj/Release/DragonScale.Silverlight.Formatters.pdb
/DragonScale.Silverlight.Formatters/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DragonScale.Silverlight.Formatters/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DragonScale.Silverlight.Formatters/obj/Release/build.force
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.Formatters.dll
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.Formatters.pdb
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.Formatters.xml
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.dll
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.pdb
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Portable.xml
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Windows.Formatters.XML
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Windows.Formatters.dll
/DragonScale.Windows.Formatters/bin/Debug/DragonScale.Windows.Formatters.pdb
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.Formatters.dll
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.Formatters.pdb
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.Formatters.xml
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.dll
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.pdb
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Portable.xml
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Windows.Formatters.XML
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Windows.Formatters.dll
/DragonScale.Windows.Formatters/bin/Release/DragonScale.Windows.Formatters.pdb
/DragonScale.Windows.Formatters/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Windows.Formatters/obj/Debug/DragonScale.Windows.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Windows.Formatters/obj/Debug/DragonScale.Windows.Formatters.csprojResolveAssemblyReference.cache
/DragonScale.Windows.Formatters/obj/Debug/DragonScale.Windows.Formatters.dll
/DragonScale.Windows.Formatters/obj/Debug/DragonScale.Windows.Formatters.pdb
/DragonScale.Windows.Formatters/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/DragonScale.Windows.Formatters/obj/Release/DragonScale.Windows.Formatters.csproj.FileListAbsolute.txt
/DragonScale.Windows.Formatters/obj/Release/DragonScale.Windows.Formatters.csprojResolveAssemblyReference.cache
/DragonScale.Windows.Formatters/obj/Release/DragonScale.Windows.Formatters.dll
/DragonScale.Windows.Formatters/obj/Release/DragonScale.Windows.Formatters.pdb
/OutputDlls
/*.suo
